
/* input.sample{
     background-color:yellow;
} */


/* input.ng-pristine.ng-valid.ng-touched{
   border:2px #9d3b3b solid
} */


/* 
input.ng-invalid.ng-touched{
    border:2px #9d3b3b solid
 } */
 
